*.DS_Store
*.lock
!/composer.lock
*.out
*.swp
*.tmproj
*~
.buildpath
.project
.rsync_cache
.settings
/.idea/*
/app/bootstrap.*
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.ini
#/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/spool/*
/bin/*
/build/*
/composer.phar
/vendor/*
/web/bundles/*
/web/css/*
/web/img/*
/web/js/*
/web/media/cache/*
/web/uploads/*
catalog.xml
desktop.ini
nbproject/
Thumbs.db
